* {
  font-family: sans-serif;
  text-align: center;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  background-color: rgb(230, 69, 69);
  align-items: center;
  color: white;
  justify-content: center; /* centers the contents */
}
.nav-logo {
  height: 40px;
  margin-right: 7px;
}
.journal-img {
  height: 250px;
  width: 200px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px grey;
}
.journal-title {
  margin-top: 5px;
  text-shadow: 5px 5px grey;
}
.journal-desc {
  margin-top: -5px;
}
.journal-loc {
  height: 16px;
  width: 14px;
  margin-right: 7px;
  opacity: 0.5;
}
.journal {
  display: flex;
  padding: 40px;
  font-weight: 300px;
  background-image: url(https://thumbnails.production.thenounproject.com/dBT_I2REMQL2SLTz9lx7-XFojVM=/fit-in/1000x1000/photos.production.thenounproject.com/photos/BA33453B-D915-4F94-85C4-9AE557AD030D.jpg);
}
.time {
  margin-top: -5px;
}
.loca {
  margin-right: 7px;
}
